# Ignore all raw data files
data/
*.csv
*.parquet

# Ignore all .html files
reports/
*.html

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.__pycache__

