# Ignore all raw data files
data/
*.csv
*.parquet

# Ignore all .html files
reports/
*.html

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.__pycache__


# Ignore jfk_taxi package build files
src/jfk_taxis.egg-info/

# Ignore all SVG files
*.svg

# Keep these SVG files for README
!images/readme_JFK_Airport_yellow_taxi_trips_per_day_2011-2025.svg
!images/readme_JFK_Airport_hourly_yellow_taxi_trips_2025_1_to_1.svg
!images/readme_JFK_daily_taxi_trips-365-day_moving_average.svg
!images/readme_hourly_seasonal_decompose_24.svg
!images/readme_daily_autocorrelation.svg
!images/readme_hourly_autocorrelation.svg
!images/readme_forecast_linear_models_daily_inital_11_60.svg
!images/readme_forecast_hybrid_models_daily_initial_11_30.svg
!images/readme_forecast_linear_models_hourly_initial_246_24.svg
!images/readme_forecast_hybrid_models_hourly_initial_246_168.svg
!images/readme_forecast_reduced_daily_non_linear_11_30.svg
!images/readme_forecast_reduced_daily_linear_11_7.svg
!images/readme_forecast_reduced_daily_hybrid_11_60.svg
!images/readme_forecast_reduced_hourly_non_linear_246_24.svg
!images/readme_forecast_reduced_hourly_linear_246_48.svg
!images/readme_forecast_reduced_hourly_hybrid_246_168.svg
!images/readme_shap_summary_daily_base_non_linear.svg
!images/readme_shap_bar_plot_daily_base_non_linear.svg
!images/readme_forecast_daily_hybrid_tuned_daily_hybrid_non_linear_incl_COVID_11_7.svg
!images/readme_forecast_daily_non_linear_tuned_11_30.svg
!images/readme_forecast_hourly_non_linear_tuned_246_48.svg
!images/readme_forecast_hourly_hybrid_tuned_hourly_hybrid_non_linear_incl_COVID_246_168.svg
!images/readme_forecast_app_linear_order2_11.svg
!images/readme_forecast_app_reduced_hourly_hybrid0_246_24.svg
!images/readme_forecast_app_reduced_hourly_hybrid_order0_246_168.svg
!images/readme_shap_summary_plot_app_linear_order2.svg
!images/readme_shap_summary_plot_app_reduced_hybrid_order0.svg


